{% extends "base.html" %}

{% block body %}
  <form action="{{ request.path }}" method="get" class="form">
    {% if error %}
    <div style="color:red">{{error}}</div>
    {% end %}
    <div style="margin-bottom:5px"><input name="url" type="text" class="field" value="{{ url if url else "" }}"/></div>
    <div style="text-align: center">
      <input type="submit" value="{{ _('Calculate Word Count') }}" class="submit"/>
      <p><a href="/admin">Admin</a></p>
    </div>
    {% module xsrf_form_html() %}
  </form>
  {% for (word, size) in wordcloud.items() %}
    <span class="size{{size}}">{{word}}</span>
  {% end %}
{% end %}

